/*
如果在less里面出现了 类名的符号
1.正常的类名
2.方法
1.函数  @sj;
2.分支结构
3.循环结构
*/
/*div{
  width:@width;
  height:@height;
  margin:@margin;
  border:1px solid @color;
  .radius(20%,20%);
  .shadow(0);
}*/
div {
  width: 200px;
  height: 200px;
}
div span {
  width: 200px;
  height: 200px;
}
div span a {
  width: 100px;
}
div:before,
div:after {
  content: "";
  display: block;
}
div:after {
  clear: both;
}
span {
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
ul {
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.one {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  border-image-source: url("../border.jpg");
  border-image-width: 50px;
  border-image-slice: 33.3333333%;
  border-image-repeat: round;
  border-image-outset: 10px;
}
.col-s-1 {
  width: 200px;
}
.col-s-2 {
  width: 200px;
}
.col-s-3 {
  width: 200px;
}
.col-s-4 {
  width: 200px;
}
.col-s-5 {
  width: 200px;
}
.col-s-6 {
  width: 200px;
}
.col-s-7 {
  width: 200px;
}
.col-s-8 {
  width: 200px;
}
.col-s-9 {
  width: 200px;
}
